
/** reminder to self:

https://paulcpederson.com/articles/css-for-people-who-hate-css/

**/

/* let's put everything to 100% */


body {
    height: 100%;
}

.main {
    heigth: 100%;
}

.editors {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.main-row {
    height: 100%;
}

.main-col {
    height: 100%;
}

.editor-col {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 5px;
    padding-right: 5px;
}

.preview-container {
    max-height: calc(100vh - 50px);
    top: 50px;
    overflow-y: scroll;
}



.CodeMirror {
    flex: 1;
    height: calc(100% - 25px);
    width: 100%;
    background-color: #fbfbf9;
    border: 1px solid #eee;
}

.CodeMirror .cm-header {
    color: black;
    opacity: 0.75;
}

.editor-status-bar {
    background-color: white;
    position: fixed;
    bottom: 0;
    left:0.3rem;
    width: 50%;
}

.save-button {
    position: absolute;
    right: 10px;
    bottom: -5px;
}

.upload-button {
    font-size: 15px;
}

/* .CodeMirror-scroll * { */
/*     white-space: pre-wrap; */
/* } */
.textarea-markdown {
    resize: none;
    flex: 1;
    width: 100%;
    height: calc(100% - 30.5px);
}

.modal {
    overflow-y: scroll;
}

/* .rc-media-picker .modal-header { */
/*     padding: 0.3rem; */
/* } */

/* .rc-media-picker .modal-body { */
/*     padding: 0.3rem; */
/* } */

/* .btn {
	padding: 0.5em 0.1em;
	}
*/
.markdown-toolbar span.separator {
    display: inline-block;
    width: 0;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #fff;
    color: transparent;
    text-indent: -10px;
    margin: 0 6px;
}

.nav-tabs .nav-link.active {
    background-color: #f8f9fa;
    box-shadow: 1px 0 1px #fefefe;
    border-color: #b9b9b9 #bdbdbd #fff #b9b9b9
}

.import-export-toolbar .btn {
    color: #495057;
    background-color: #fbfbff;
    border-color: #999999;
    font-size: 15px;
    height: 2em;
}

.import-export-toolbar .btn.dropdown-toggle {
    padding: 0 1em;
}

.import-export-toolbar .btn:hover {
    border-color: #aaa #efefef #efefef #aaa;
}

.import-export-toolbar .btn-outline-dark:not(:disabled):not(.disabled):active {
    background-color: #939393;
    border-color: #000 #777 #777 #000;
}

.toolbar {
    display: block;
}

.soft-blue-background {
    background-color: #fbfbff;
}

.markdown-toolbar {
    opacity: 0.6;
}

.markdown-toolbar:hover {
    opacity: 0.8;
}

.markdown-toolbar .btn {
    background-color: #fff;
    border-color: #fff;
    padding: 0.1em 0.4em;
}

.markdown-toolbar .btn:hover {
    background-color: #fcfcfc;
    border-color: #aaa #efefef #efefef #aaa;
}

.editor-checkbox {
    display: inline-block;
}

.toolbar .form-check {
    display: inline-block;
}

.navigation-links {
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    z-index: 1000000;
    /* should be on top */
}

.upload-percentage {
    min-width: 100px;
    /* needs to fit "processing.." as well */
}

.nav-item:hover {
    background-color: #fafafa;
}

.nav-tabs .nav-link.active {
    background-color: #f8f9fa;
    box-shadow: 1px 0 5px #f9f9f9;
}

.btn {
    padding: 0.1em 0.2em;
    border-radius: 0;
}

.btn-outline-dark {
    border-color: #efefef;
}

.btn-outline-dark:hover {
    border-color: #c8cfe3;
    background-color: #f6f6f6;
    color: black;
}

.markdown-toolbar .btn.btn-light.enabled {
    position: absolute;
    right: 5px;
    border-color: #aaa #efefef #efefef #aaa;
    background-color: #d6d6d6;
    color: black;
}

.preview-thumbnail {
    width: 96px;
    height: 64px;
    object-fit: cover;
    display: block;
}

.CodeMirror {
    font-family: Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 576px) {
    .CodeMirror {
        max-width: 50vw;
        /* width: 50vw; */
        /* this should prevent codemirror from growing out of the page */
    }
}

@media only screen and (max-width: 576px) {
    .fullscreen-button {
	display: none !important; /* do not show the full screen button on mobile! */
    }

    
    /* hide the preview on mobile, bigger phones have a width of 750px */
    .preview-container {
        display: none;
    }
}

.edit-button-column {
    width: 100px;
}

.media-list video {
    width: 20%;
}

.audio-preview {
    width: 100%;
}

.video-preview {
    width: 100%;
}

.edit-media-dialog .media img {
    width: 368px;
    height: auto;
}

/* fullscreen mode */

.fullscreen .editor-col {
    width: 100%;
}

.fullscreen .CodeMirror {
    width: unset;
    max-width: unset;
}

.fullscreen .editor-status-bar {
    width: 100%;
}

.fullscreen .preview-container {
    display: none;
}

/* media table */
.rc-media-table {
    width: 100%;
}

.scrollbox {
    height: 100%;
    display: block;
    overflow-y: scroll;
}

.rc-media-table-searchbox {
    position: absolute;
    right: 0;
    max-width: 33%; /* to avoid overlap with the upload button */
}

#media-list .rc-media-table-searchbox {
    right: 5px;
}

#media-list {
    height: calc(100vh - 119px);
}


.rc-media-table thead th {
    border-top: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
    padding: 0.3rem;
}

.rc-media-table-row:nth-of-type(odd) {
    background-color: #f8f8f8;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.rc-media-table-row {
    hieght:35px;
}

.rc-media-table>thead:nth-child(1)>tr:nth-child(1)>th:nth-child(4) {
    /* sorry for this, sortable table does not have an elegant way for adding column attrs :-P */
    width: 6.3em;
}

#media-picker .rc-media-table-searchbox {
    right:1rem;
}

.rc-media-picker .modal-body {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top:0;
    padding-bottom:1rem;
}

.rc-media-picker>thead:nth-child(1)>tr:nth-child(1)>th:nth-child(4) {
    width: 5em;
}

.rc-media-table>thead:nth-child(1)>tr:nth-child(1)>th:nth-child(3) {
    width: 56%;
}

.alert {
    margin-bottom: 0.2em;
}

/* opacity classes */
.opacity-0 {
    opacity: 0.0;
}
    
.opacity-1 {
    opacity: 0.25;
}

.opacity-2 {
    opacity: 0.5;
}

.opacity-3 {
    opacity: 0.75;
}

.opacity-4 {
    opacity: 0.9;
}

.opacity-5 {
    opacity: 1.0;
}
